extends layout

block content
  .container
    .col
      .row-md-4.side
        include ./posts/show-top
        hr(style='border:1px dashed grey;')
      .row-md-8
        include ./posts/show-bottom